<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1>
    <span th:text="'Comnat : '+ ${comnatName}"></span>
</h1>
<ol>
    <li th:each="message: ${messages}">
        <span th:text="${message.getAuthor()} + ' : ' + ${message.getMessage()}"></span>
    </li>
</ol>

<form action="#" th:action="@{|/sendMessage/${comnatName}|}" th:object="${message}" method="post">
    <input type="text" th:field="*{author}" />
    <input type="text" th:field="*{message}" />
    <input type="submit" />
</form>

</body>
</html>
